djangoenv/
PCDsite/PCDsite/__pycache__/__init__.cpython-311.pyc
PCDsite/PCDsite/__pycache__/settings.cpython-311.pyc
PCDsite/PCDsite/__pycache__/urls.cpython-311.pyc
PCDsite/PCDsite/__pycache__/wsgi.cpython-311.pyc
PCDsite/imageText/__pycache__/__init__.cpython-311.pyc
PCDsite/imageText/__pycache__/urls.cpython-311.pyc
PCDsite/imageText/__pycache__/views.cpython-311.pyc